body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outer{
  margin: auto;
  width: 800px;
  background-color: aqua;
  padding: 10px;
  text-align: left;
  font-size: larger;
  border: 10px solid red;
  margin-bottom: 10px;
}

.ctable{

  margin: auto;
  width: 80%;
}